/* Basic reset to ensure consistency across browsers */
* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 10px;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.title {
    color: SeaGreen;
    /* This color will be changed by the JS file */
}

p {
    font-size: 18px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}
